* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
    margin-bottom: 10px;
}

.searchbox .form-control {
    padding-left: 2.375rem;
  }
  
.searchbox .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.dark-mode {
    background-color: rgb(1, 1, 1);
    color: #ffffff;
}

/* Body */

body {
    background-color: rgba(218, 218, 218, 0.749);
}

.single_post {
    margin: 10px;
    margin-left: 2vw;
    background-color: #ffffff;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 6px;
    max-width: 600px;
}

#newpost {
    margin-left: 2vw;
}