* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar-brand {
    color: rgb(0, 0, 0);
}

nav {
    margin-bottom: 10px;
    background-color: #ffffff;
    max-height: 8.5vh;
}

.searchbox .form-control {
    padding-left: 2.375rem;
    width: 55vw;
    background-color: rgba(245, 245, 245, 0.94);
  }
  
.searchbox .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.btn {
    margin: 1.5px;
}

#navbtnlogin {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 136, 255);
}

.dark-mode {
    background-color: rgb(1, 1, 1);
}

/* Body */

body {
    background-color: rgba(218, 218, 218, 0.749);
}

#newpostbtn {
    margin-top: 10px;
    margin-left: 2vw;
}

.single_post {
    margin: 10px;
    margin-left: 2vw;
    padding-top: 2vh;
    background-color: #ffffff;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 6px;
    max-width: 600px;
}

#newpost {
    margin-left: 2vw;
}

.card > img {
    margin-top: 10px;
}

#inputbox {
    border-radius: 6px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgb(206, 206, 206);
}

#side {
    margin-left: 30px;
    max-height: 400px;
}

thead {
    background-color: #dbdbdb8c;
}

#title {
    color: rgb(0, 15, 82);
}