{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    {% if error %}
        {{ error }}
    {% endif %}

    {% if message %}
        {{ message }}
    {% endif %}

    <div class="col-5">
        <form method="POST" action="{% url 'account:user_login' %}">
            {% csrf_token %}

            {% if request.GET.next %}
            <input type="hidden" name="next" class="form-control" value="{{ request.GET.next }}">
            {% endif %}
            
            <input type="text" name="username" class="form-control" placeholder="Enter your username" required>
            <input type="password" name="password" class="form-control" placeholder="Enter your password" required>
            <input type="submit" value="Log in" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}