{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-5" id="inputbox">
        {% if error %}
            {{ error }}
        {% endif %}


        <form method="POST" action="{% url 'posts:create' %}">
            {% csrf_token %}
            
            <input type="text" name="title" placeholder="Title" required>
            <input type="url" name="url" placeholder="Url" required>
            <br>
            <input type="submit" value="Post" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}