{% extends 'base.html' %}

{% block content %}

<div class="row col-12">
    <div class="card col-8">
        <div id="newpostbtn">
            <a href="{% url 'posts:create' %}" class="btn btn-dark">new post</a>
        </div>

        {% for post in posts.all %}
        <div class="single_post">
            <table class="table">
                <thead>
                     <tr>
                     <th><span>{{ post.votes_total }}</span></th>
                     <th><a href="{{ post.url }}" target="_blank">{{ post.title}}</a></th>
                     <th><small>{{ post.ago }}</small></th>
                     </tr>
                </thead>
                <tbody>
                     <tr>
                     <td>
                     <form method="POST" action="{% url 'posts:upvote' post.id %}">
                          {% csrf_token %}
                          <input class="btn btn-light" type="submit" value="&#9650;">
                     </form>
                     </td>
                     <td>
                     <form method="POST" action="{% url 'posts:downvote' post.id %}">
                          {% csrf_token %}
                          <input class="btn btn-light" type="submit" value="&#9660;">
                     </form>
                     </td>
                     </tr>
                </tbody>
           </table>
        </div>
        {% endfor %}
    </div>

    <div class="card col-3" id="side">
        <img class="card-img-top" src="https://images.pexels.com/photos/20787/pexels-photo.jpg?cs=srgb&dl=adorable-animal-cat-20787.jpg&fm=jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

{% endblock %}