{% extends 'base.html' %}

{% block content %}

<h3>Home page</h3>

<a href="{% url 'posts:create' %}">New Post</a>

{% for post in posts.all %}

<ul style="list-style-type:none;">
    <li>
        <span>{{ post.votes_total }}</span>
        
        <form method="POST" action="{% url 'posts:upvote' post.id %}">
            {% csrf_token %}
            <input type="submit" value="up">
        </form>

        <form method="POST" action="{% url 'posts:downvote' post.id %}">
            {% csrf_token %}
            <input type="submit" value="down">
        </form>


        <a href="{{ post.url }}" target="_blank">{{ post.title}}</a>
        <span>{{ post.pub_date }}</span>
        <span>by {{ post.author }}</span>
    </li>
</ul>

{% endfor %}

{% endblock %}