{% extends 'base.html' %}
{% block content %}

<h3>All posts by <b>{{ author }}</b></h3>

{% for post in posts.all %}

<div class="single_post">
     <!-- TO DO: maybe add JS to make voting more performant -->

     <form method="POST" action="{% url 'posts:upvote' post.id %}">
          {% csrf_token %}
          <input class="btn btn-light" type="submit" value="&#9650;">
     </form>
     
     <form method="POST" action="{% url 'posts:downvote' post.id %}">
          {% csrf_token %}
          <input class="btn btn-light" type="submit" value="&#9660;">
     </form>

     <span>{{ post.votes_total }}</span>
     
     <a href="{{ post.url }}" target="_blank">{{ post.title}}</a>
     <span>{{ post.pub_date }}</span>
     </li>
     </ul>

     <form id="upvote{{ post.id }}" method="POST" action="{% url 'posts:upvote' post.id %}">
     {% csrf_token %}
     <input type="hidden">
     </form>

     <form id="downvote{{ post.id }}" method="POST" action="{% url 'posts:downvote' post.id %}">
     {% csrf_token %}
     <input type="hidden">
     </form>
</div>

{% endfor %}

{% endblock %}