{% extends 'base.html' %}
{% block content %}

<h3>All posts by <b>{{ author }}</b></h3>

{% for post in posts.all %}

<div class="single_post">
     <!-- TO DO: maybe add JS to make voting more performant -->

     <table class="table">
          <thead>
               <tr>
               <th><span>{{ post.votes_total }}</span></th>
               <th><a href="{{ post.url }}" target="_blank">{{ post.title}}</a></th>
               <th><small>{{ post.ago }}</small></th>
               </tr>
          </thead>
          <tbody>
               <tr>
               <td>
               <form method="POST" action="{% url 'posts:upvote' post.id %}">
                    {% csrf_token %}
                    <input class="btn btn-light" type="submit" value="&#9650;">
               </form>
               </td>
               <td>
               <form method="POST" action="{% url 'posts:downvote' post.id %}">
                    {% csrf_token %}
                    <input class="btn btn-light" type="submit" value="&#9660;">
               </form>
               </td>
               </tr>
          </tbody>
     </table>
</div>

{% endfor %}

{% endblock %}